/* Projeto feito em prol dos meus estudos em HTLM e CSS tirados do site https://www.frontendmentor.io/home*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --main-bg : hsl(217, 54%, 11%);
    --card-bg : hsl(216, 50%, 16%);
    --white : hsl(0, 0%, 100%);
    --cyan : hsl(178, 100%, 50%);
    --text-color : hsl(215, 51%, 70%);
    --border-color : hsl(215, 32%, 27%);
}
header{
    margin-right: 10px; /* asdasjdkashdajskdhajsdhkajdhasdhakjdhakjdhakdhahdk
    asdasdasdasdasdasdasdadsadsasdad
    asdadsasd
    asdasddasd
    a
    */
}


*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

img{
    max-width : 100%;
}

body{
    background-color : var(--main-bg);
    font-family : 'Outfit', sans-serif;
    color : var(--text-color);
    min-height : 100vh;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.container{
    background-color : var(--card-bg);
    max-width : 20.3125rem;
    border-radius : 0.625rem;
}

.card{
    padding : 1.25rem;
}

.card__image{
    position : relative;

    display : flex;
    justify-content : center;
    align-items : center;
}

.card__image--overlay{
    position : absolute;

    width : 100%;
    height : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    opacity : 0;
    background-color :hsla(178, 100%, 50%, 0.5);
    border-radius : 10px;
}

.top__image{
    border-radius : 0.625rem;
}

.card__title{
    font-size : 1.5rem;
    color : var(--white);
    margin-block : 1.25rem 1rem;
}

.card__info{
    font-size : 1.125rem;
    font-weight : 300;
}

.card__resource{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom : 0.625rem;
    margin-block : 1rem 0.75rem;
    border-bottom : 1px solid var(--border-color);
}

.card__--eth{
    color : var(--cyan);
    font-weight : 600;
    display: flex;
}

.card__resource--eth::before{
    content : url('images/icon-ethereum.svg');
    margin-right : 8px;
}

.card__resource--time{
    display: flex;
}

.card__resource--time::before{
    content : url('images/icon-clock.svg');
    margin-right : 5px;
}

.card__creator{
    display : flex;
    align-items: center;
}

.bottom__image{
    width : 3rem;
    border-radius : 50%;
    border : 1px solid var(--white);

    margin-right : 1rem;
}
.name{
    color : var(--white);
    text-decoration : none;
}

.name:active{
    color : var(--cyan);
}

.attribution { font-size: 11px; 
    text-align: center; 
    font-weight : 300;
    margin-block : 2rem -2rem 
}
    .attribution a
     { color: hsl(228, 45%, 44%); 
        font-weight : 600; 
    }

@media(min-width : 768px){
    .card__title:hover , .name:hover{
        color : var(--cyan);
        cursor : pointer;
    }

    .card__image:hover{
        transition : scale(1.1);
    }

    .card__image--overlay:hover{
        opacity : 1;
        cursor : pointer;
        transition : all 500ms ease-in;
    }
}